*{
margin:0;
padding:0;

}
.center{
widht: 980px;
height: 100px auto;
}
input[type="text"]:focus{
box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.75);
}
    
input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    background: #FFF;
}
input[type="Submit"]{
padding: 10px;
border: 1px solid #CCC;
background:#CCC;
}

input[type="Submit"]:hover{
background: #333;

}